!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title #{title}
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,100', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')
  body
    block body
