body {
  background-image: url('/images/fabric_of_squares_gray.png');
  overflow-x: hidden;
}

.coming-soon {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: fixed;
  top: 25%;
  text-align: center;
  width: 100%;
  color: rgba(180, 180, 180, 1);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}
